/* font railway style start  */

.open-sans-railway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font railway style end  */


.header{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
}
/* navbar style start  */
.navbar{
    margin-top: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 34px;
}

/* navbar style end  */

/* banner style star  */
.banner{
   margin: 158px auto;
}
.banner_container{
    margin: 0 auto;
    
}
.banner_header{
    font-size: 65px;
    font-weight: bold;
    max-width: 905px;
    margin: 0 auto;
    text-align: center;
    color: #252432;
}
.banner_button{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 580px;
    margin-top: 37px;

   

}


/* banner style end  */




/* share style start */
.primary_color{
    color: #4E47FF;
}
.button_style{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
/* share style end */